h2{
  margin:0;
}.header{
  height: 64px;
  background-color:#FFFFFF;
}
.header_in{
  display: flex;
  justify-content:space-between;
  padding: 20px 30px;
  height:24px;
  align-self:center;
}
.logoAND4{
  display: flex;
}
.figure_4th{
  font-size: smaller;
  color:#B2CADC;
}
.week4{
  margin-left: 20px;
  margin-top: 3px;
}
.backGray{
  background-color:#F5F5F8 ;
  height:700px
}
.btn_blue{
  height:30px;
  width:200px;
  background:linear-gradient(to right,#1B71BB,#34CFFF);
  color: #FFFFFF;
  border-radius: 20px;
  padding: 12px 50px;
  text-decoration: none;
  box-shadow:4px 4px 4px #9EE8FE;

}

.mainData{
  display: flex;
  height:600px;
  padding: 20px 50px 40px;
}
.hoursData{
  flex-basis: 50%;
  display: block;
  margin-right: 10px;
}
.circleData{
  flex-basis: 50%;
  display: flex;
  align-content: space-between;
  margin-left: 10px;
}
.langData{
  width:calc(50% - 10px);
  height: 100%;
  border:1px solid black;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-right: 20px;
}
.langData h2{
  font-size: unset;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.contentsData{
  width:calc(50% - 10px);
  height: 100%;
  border:1px solid black;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.contentsData h2{
  font-size: unset;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.hoursDataS{
  display:flex;
  align-content: space-between;
  height: 30%;
}
.todayData{
  width:calc(33.3% - 16.6px);
  height:150px;
  border:1px solid black;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-right: 20px;
  text-align: center;
}
.todayData h3{
  color: #2B7AC0;
}
.study_figure{
  
  font-size: x-large;
  font-weight: bold;
  margin: 0;
  
}
.hour{
  color: #B4CCDE;
  margin-top: 7px;
}
.monthData{
  width:calc(33.3% - 16.6px);
  height:150px;
  border:1px solid black;
  background-color: #FFFFFF;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
}
.monthData h3{
  color: #2B7AC0;
}

.totalData{
  width:calc(33.3% - 16.6px);
  height:150px;
  border:1px solid black;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}
.totalData h3{
  color: #2B7AC0;
}
/* 画面左下のグラフ */
.graph{
  height:70%;
  width: 100%;
  border:1px solid black;
  background-color: #FFFFFF;
  border-radius: 10px;
}

/* モーダル */
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 900px;
  height:70%;
  /* padding: 50px; */
  background-color: #fff;
  z-index: 2;
  border-radius: 20px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 25px;
  color: #333;
  background-color:#F5F5F8;
  padding:6px 10px;
  border-radius: 50%;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
.modal_main{
  height: 100%;
  width: auto;
  margin-right: 56px;
  margin-left: 56px;
}
.modal_contents{
  height: 84%;
  width:  100%;
  display: flex;
  justify-content: space-between;
}
.modal_left{
  flex-basis: 50%;
  margin-top: 23px;
  /* padding: 20px; */

}
.modal_right{
  flex-basis: 50%;
  /* padding: 20px; */
  margin-top: 23px;
  /* height: 100%; */
}
.modal_button{
  height: 16%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 30px;
}
.modal_button_figure{
  height:20px;
  width:70%;
  text-decoration: none;
  background:linear-gradient(to right,#1B71BB,#34CFFF);
  box-shadow:4px 4px 4px #9EE8FE;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 14px 120px;
  
}
.modal_left h3{
  padding: 0;
  margin: 0;
  font-size: small;
}
.modal_right h3{
  padding: 0;
  margin: 0;
  font-size: small;
}
.s_day{
  height: 20%;
  width:calc(100%-20px);
  margin: 0;
  padding: 0;
  
}
.s_day h3{
  margin-top: 10px;
  margin-bottom: 5px;
}
.s_contents{
  height: 30%;
  width:calc(100%-20px);
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.s_contents h3{
  margin-bottom: 7px;
}
.s_language{
  height: 45%;
  width:calc(100%-20px);
  margin: 0;
  padding: 0;
}
.s_language h3{
  margin-bottom: 7px;
}
.s_time{
  height: 20%;
  width:calc(100%-20px);
}
.comment_twitter{
 height: 80%;
 width:calc(100%-20px);
 margin: 0;
 padding: 0;
 margin-top: 20px;
}
.inputs_day{
  float: left;
  height: 30px;
  width:84%;
  max-width: 100%;
  border: none;
  margin: 0.3rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background:#F5F4F8;
}
.s_time h3{
  margin-top: 10px;
  margin-bottom: 5px;
}
.input_twitter{
  float: left;
  height: 195px;
  width: 80%;
  max-width: 100%;
  border: none;
  margin: 0.3rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background:#F5F4F8;
}
.figure_twittershare{
  font-size: small;
}

.success{
  display:none;
  background-color: #ffff;
  width: 900px;
  height: 80%;

}
.success_logo{
  display: none;
  width: 50px;
  height: 50px;
  color: orangered;
  border-radius: 50%;
}
/* ラジオぼたん */
/* .radio-wrap{
  height: 100%;
} */

.radio-wrap label{
  /* margin-right: 20px; */
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
}

.radio-wrap input{
  display: none;
}

.radio-wrap input + span{
  padding-left: 32px;
  position:relative;
}

.radio-wrap input + span::before{
  content: "";
  background-image: url(./img/radio.PNG);
  background-size: contain;
  display: block;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 18px;
  height: 18px;
}

.radio-wrap input:checked + span{
  width: fit-content;
  height: 30px;
  background-color:#E7F5FF;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 32px;
}

.radio-wrap input:checked + span::after{
  content: "";
  background-image: url(./img/radio_checked.PNG);
  background-size: contain;
  display: block;
  position: absolute;
  top: 9px;
  left: 9px;
  width: 18px;
  height: 18px;
}
.radio_figure{
  width: fit-content;
  height: 30px;
  background-color:#F5F5F8;
  border-radius: 15px;
  padding:9px;
  /* margin: 5px; */
}
/* .radio_figure input:checked{
  width: fit-content;
  height: 30px;
  background-color:#E7F5FF;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px; */


/* ラジオボタン大 */
.radio-wrapL label{
  /* margin-right: 20px; */
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
}

.radio-wrapL input{
  display: none;
}

.radio-wrapL input + span{
  padding-left: 32px;
  position:relative;
}

.radio-wrapL input + span::before{
  content: "";
  background-image: url(./img/radio.PNG);
  background-size: contain;
  display: block;
  position: absolute;
  top: -6px;
  /* left: 15px; */
  width: 30px;
  height: 30px;
}

.radio-wrapL input:checked + span{
  color: #487cff;
  font-weight: bold;

}

.radio-wrapL input:checked + span::after{
  content: "";
  background-image: url(./img/radio_checked.PNG);
  background-size: contain;
  display: block;
  position: absolute;
  top: -6px;
  /* left: 15px; */
  width: 30px;
  height: 30px;
}

/* ラジオボタン */

/* グラフ */
